<% provide(:title, "Sign up") %>

<h1>Sign up</h1>
<% if notice %>
  <div class="alert alert-success ">
    <%= notice %>
  </div>
<% end %>

<div class="form-wrapper">
  <% if @user.errors.any? %>
    <div id="error_explanation" >
      <div class="alert alert-danger">
        <h2><%= pluralize(@user.errors.count,"error") %> prohibited this <%= @user.name %> from being saved:</h2>
        <ul>
          <%= @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true, class: "form" ) do |f| %>
    <div class="form__item">
      <%= f.label :name, "名前", class: "form__ttl" %>
      <div class="form__body">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="form__item">
      <%= f.label :email, "Email", class: "form__ttl" %>
      <div class="form__body">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="form__item">
      <%= f.label :password, "パスワード", class: "form__ttl" %>
      <div class="form__body">
        <%= f.password_field :password, placeholder: "6文字以上", minlength: 6 %>
      </div>
    </div>
    <div class="form__item">
      <%= f.label :password_confirmation, "パスワード確認用", class: "form__ttl" %>
      <div class="form__body">
        <%= f.password_field :password_confirmation, placeholder: "再度同じものを入力" %>
      </div>
    </div>
    <%= f.submit "登　録", class: "btn btn-color" %>
  <% end %>
</div>